@model IndexPageVM

<div class="top-news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="row tn-slider">
                    @foreach (var i in Model.PinnedPostSlider)
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <a asp-controller="Post" asp-action="Read" asp-route-id="@i.PostId">
                                    <img src="@i.PostPhotoPath" height="340" />
                                    <div class="tn-title">
                                        @i.PostTitle

                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row">
                    @foreach (var i in Model.Carousel)
                    {
                        <div class="col-md-6">
                            <div class="tn-img">
                                <a asp-controller="Post" asp-action="Read" asp-route-id="@i.PostId">
                                    <img src="@i.PhotoPath" height="170" />
                                    <div class="tn-title">
                                        @i.PostTitle

                                    </div>
                                </a>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>


<hr class="p-1">
<hr class="p-1" style="background-color:Tomato;">

<div class=" row row-cols-2 cat-news">

    @foreach (var i in Model.Sliders)
    {
        <div class="col">
            <h2>@i.CategoryName</h2>

            <div class="row cn-slider">
                @foreach (var j in i.Items)
                {
                    <div class="col-md-3">
                        <div class="cn-img">
                            <img src="@j.PostPhotoPath" height="168" />
                            <div class="cn-title">
                                <a asp-controller="Post" asp-action="Read" asp-route-id="@j.PostId">@j.PostTitle</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
</div>

<hr class="p-1">
<hr class="p-1" style="background-color:Tomato;">
<h2>Most viewed news</h2>
<br>

<div class="main-news">
    <div class="container">
        <div class="row">
            <div class="main-news">
                <div class="container">
                    <div class="row">
                        @foreach (var i in Model.MostViewedPosts)
                        {
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <a asp-controller="Post" asp-action="Read" asp-route-id="@i.PostId">
                                        <img src="@i.PhotoPath" height="240" />
                                        <div class="tn-title">
                                            @i.PostTitle

                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="p-1" style="background-color:Tomato;">
<h2>Latest news</h2>
<br>

<div class="main-news">
    <div class="container">
        <div class="row">
            <div class="main-news">
                <div class="container">
                    <div class="row">
                        @foreach (var i in Model.LatestPosts)
                        {
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <a asp-controller="Post" asp-action="Read" asp-route-id="@i.PostId">
                                        <img src="@i.PhotoPath" height="240" />
                                        <div class="tn-title">
                                            @i.PostTitle

                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>